.load-more {
  display: block;
  background-color: #4caac7;
  margin: 0 auto;
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.is-hidden {
  display: none;
}

.end-collection-message {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}
